*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    display: inline-block;
}

body{
    font-family: "Roboto", sans-serif;
}
p{
    font-family: "Archivo", sans-serif;
}

.home-div{
    background-image: url("./images/section_home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 11/5;
    opacity: .9;
}
.about-div{
    background-image: url("./images/section_about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 11/5;
    opacity: 0.8;
}

article img{
    height: 50px !important;
    width: 50px !important;
    align-self: center !important;
}

article p{
    font-size: 12px;
    color:rgb(97, 92, 92);
    font-weight: 250;
}

.overlay{  
  background-color: rgba(0, 0, 0, 0.2);  
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(232, 241, 244);
    color: rgb(179, 166, 166);
  }